%h2#fix Shipping
%hr/
#datasheet.hot.handsontable.htRowHeaders.htColumnHeaders{:style => ""}
%h4  
%table.table.table-striped
  %thead
    %tr
      %th Country
      %th State
      - @sheet_headers.each do |s|
        %th 
          = s.weight
  %tbody
    - @shipping_weights.group_by{|s| s.country}.each do |country, s_weights|
      - s_weights.group_by{|b| b.state}.each do |state, b_weights|
        %tr
          %td
            = country
          %td
            = state 
          - @sheet_headers.each do |s|
            %td
              = b_weights.select{|d| d.weight == s.weight}.first.price

%br